*{
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background: #e4e4ef;
    color: #f07878;
}
ul {
    list-style: none;
}
h1{
    text-align: center;
    margin-top: 1em;
    margin-bottom:0;
}
button{
    background: #f07878;
    color:#404267;
    width: 100%;
    border:none;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    align-items: center;
    margin-top: 1em;
}
button:hover{
    background: #404267;
    color:#f07878;
    padding: 20px;
    cursor: pointer;    
}
.main-header{
    font-size: 28px;
    background: #404267;
    color: #e4e4ef;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.title p{
    text-align: center;
    margin-top: 0;
}

/*Form Styles*/

/*Hide choose state placeholder*/
select:invalid{
    color: lightgray;
}
option[value=""][disabled]{
    display:none;
}
option {
    color:black;
}

/*Center the form on the page*/

form{
    margin: 0 auto;
    width: 100%;
    
}

fieldset{
    border: none;
}



input{
    width: 100%;

}
input[type=text]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
}
select{
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
}


textarea{
    width:100%;
    border: 2px solid #ccc;
    background-color: #ccc
}

@media screen(min-width: 786px) {
    
}