*{
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background: #e4e4ef;
    color: #f07878;
    font-weight: 500;
   
}


.div{
    margin: 0;
    padding: 0;
    }
h1{
    text-align: center;
    margin-top: 2em;
    margin-bottom:0;
}
h2{
    text-align: left;
    margin-top: 2em;
    font-weight: bold;
}
button{
    background: #f07878;
    color:#404267;
    width: 100%;
    border:none;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    margin-top: 1em;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background: #404267;
    color:#f07878;
    padding: 20px;
    cursor: pointer;    
}
.main-header{
    font-size: 28px;
    background: #404267;
    color: #e4e4ef;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    max-width: none;
}

.title p{
    text-align: center;
    margin-top: 0;
}

/*Form Styles*/

/*Hide choose state placeholder*/
select:invalid{
    color: lightgray;
}
option[value=""][disabled]{
    display:none;
}
option {
    color:black;
}

/* Custom checkbox and radio button */
.container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.container input{
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
    top:0;
    left:0;

} 

/*Center the form on the page*/
.contact-box {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}



fieldset{
    border: none;
    margin-left: 0 ;
    padding: 0;
}
hr{
    border: 5px solid #404267;
    display:block;

}

hr:last-child{
    border: 1px solid #404267;
   
}

input::placeholder{
    text-align: right;
    color:#404267;
}

input{
    width: 100%;

}

select{
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=text]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #F4EDF5;
    border-radius: 1px;
    
}
input[type=text]:focus{
    border: 3px solid #555;

}
select{
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
}

select:focus{
    background: #f07878;;
}

.contact-box:last-child{
    width: 50%;
}

footer{
    text-align: center;

}

textarea{
    width:100%;
    border: 2px solid #ccc;
    background: #F4EDF5;
    font-weight: 500;
}
/* Media qu */
@media (min-width: 786px) {
    button{
        width: 50%;
        justify-content: center;
        align-content: center;

    }
    textarea{
        width: 80%;
    }

    .contact-box {
        flex-direction: row;
    }

    .contact-box label{
        flex-basis: 9rem;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: flex-start;
        
    }
    .contact-box input,
    .contact-box select,
    .contact-box textarea{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    main{
        margin: 0px 200px;
    }
    
 
    }
    
